body {
  font-family: "Zilla Slab", serif;
  background: #ffffff;
  margin: 0px;
}

main {
  margin-left: 20px;
}

aside {
  background: #1e2939;
}

aside div {
  color: white;
  margin-left: 20px;
}

h1 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 10px;
}

img {
  margin: 25px 0 0 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.506);
}

ol {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

ul {
  color: orange;
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

ul span {
  color: rgba(255, 255, 255, 0.506);
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 800px;
  justify-content: left;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.job_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.projects a {
  color: gray;
}

h3 {
  color: #fb6d3ad3;
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.header {
  margin-top: 60px;
  margin-bottom: 10px;
  border-bottom: 1px solid #7a7a7a;
}

.time {
  color: #686868;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 0px;
}
